[Unit]
Description=Duplicati backup leveraging ZFS snapshots
Requires=network-online.target zfs.target
After=network-online.target zfs.target

[Service]
ExecStart=duplicati-zfs-backup.sh %i
